:root {
	--very-dark-gray: hsl(0, 0%, 17%);
	--dark-gray: hsl(0, 0%, 59%);
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	color: var(--very-dark-gray);
	font-family: 'Rubik', system-ui, sans-serif;
	font-size: 1.6rem;
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}
.wrapper {
	max-width: calc(144rem + (2.5rem * 2));
	margin: 0 auto;
	padding: 0 2.5rem;
}
.header {
	background: url(../img/pattern-bg.png) center center / cover no-repeat;
	height: 25rem;
	padding: 2.5rem 0;
}
@media (min-width: 37.5em) {
	.header {
		height: 23rem;
	}
}
@media (min-width: 56.25em) {
	.header {
		height: 28rem;
	}
}
.app-title {
	color: #fff;
	font-size: 2.8rem;
	font-weight: 400;
	margin: 0;
	text-align: center;
}
.app-form {
	max-width: 55rem;
	margin: 0 auto;
	margin-top: 3rem;
	display: flex;
}
.ip__input {
	background-color: #fff;
	border: none;
	border-radius: 1rem 0 0 1rem;
	font-family: inherit;
	font-size: 1.6rem;
	padding: 1rem;
	flex: 1;
}
.ip__input:focus {
	outline: none;
}
.btn {
	background-color: var(--very-dark-gray);
	border-radius: 0 1rem 1rem 0;
	border: none;
	cursor: pointer;
	padding: 1.2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.btn:focus {
	outline: none;
}
.btn__icon {
	transition: transform 0.3s ease-in;
}
.btn:hover .btn__icon,
.btn:focus .btn__icon {
	transform: translateX(5px);
}
@media (min-width: 56.25em) {
	.ip__input {
		font-size: 1.8rem;
	}
	.btn {
		padding: 2rem;
	}
}
.result__box {
	background-color: #fff;
	border-radius: 1.5rem;
	margin-top: 2rem;
	padding: 2rem;
	position: relative;
	z-index: 100;
}
.result__grid {
	text-align: center;
	display: grid;
	gap: 1.5rem;
}
.result__category {
	color: var(--dark-gray);
	font-size: 1.2rem;
	margin: 0;
	text-transform: uppercase;
}
.result__text {
	font-weight: 700;
	font-size: 2rem;
	margin: 0;
	margin-top: 0.8rem;
}
@media (min-width: 37.5em) {
	.result__grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (min-width: 56.25em) {
	.result__box {
		margin-top: 5rem;
		padding: 6rem;
	}
	.result__grid {
		text-align: left;
		grid-template-columns: repeat(4, 1fr);
	}
	.result__category {
		font-size: 1.4rem;
	}
}
.map {
	flex: 1;
}
.alert__overlay {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100vh;
	padding: 2.5rem;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.alert {
	background-color: #fff;
	border-radius: 1rem;
	padding: 3rem 1.5rem;
	max-width: 50rem;
	width: 100%;
	animation: zoom-in 0.3s ease forwards;
}
.alert--dismiss {
	animation: zoom-out 0.3s ease forwards;
}
.alert__text {
	color: var(--very-dark-gray);
	font-size: 1.8rem;
	font-weight: 500;
	margin: 0;
	text-align: center;
}
.alert__actions {
	padding: 1.5rem 2rem 0;
	display: flex;
	justify-content: flex-end;
}
.alert__close {
	background-color: transparent;
	border: none;
	color: hsl(233deg 45% 53%);
	cursor: pointer;
	font-weight: 500;
	font-size: 1.6rem;
	transition: transform 0.2s;
}
.alert__close:focus {
	outline: none;
	transform: scale(1.04);
}

@keyframes zoom-in {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
@keyframes zoom-out {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
